<section id="content">
  <div id="cwrapper">
   <div class="quicklink"> 
     <div class="box-link"><a href="/" class="link1"></a></div>
     <div class="box-link"><a href="/" class="link2"></a></div>
     <div class="box-link"><a href="/" class="link3"></a></div>    
     <div class="box-link"><a href="/" class="link4"></a></div>    
   </div>

   <div id="slider">
     <ul>
       <li class="s1"></li>
       <li class="s2"></li>
       <li class="s3"></li>
       <li class="s4"></li>
     </ul>
   </div>

  </div>

</section>
