<div id="footer">
<div id="fwrapper">
	<div class="footerlink"><!--<a href="#">Sitemap</a>&nbsp;&nbsp;|&nbsp;&nbsp;--><a href="http://www.rntit.com/" target="_blank">RiTe Global</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/" target="_blank">Internal Login</a>&nbsp;&nbsp;|&nbsp;&nbsp;Enquiry: +000-0000 0000</div>
    <div class="social"><a href="https://www.facebook.com/" target="_blank"><img src="/assets/facebook.jpg"></a><a href="#"><img src="/assets/ipad.jpg"></a></div>
    <div class="copyright"><%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>     <br><a href="http://www.rntit.com/" title="web design" target="_blank">Web Design by Rntit</a></div>  
    <div class="clear"></div>  

</div>
</div>
