#site_bar_content, #page_container > footer, #page_container > header {
width: auto !important;
}

#header {
background: url(/assets/bg_header.jpg) repeat-x top left;
}
#hwrapper{
width: 960px;
margin: 0 auto;
background: url(/assets/bg_menu.png) no-repeat 304px 62px;
}
.log{
float: left;
height: 137px;
}

.menu {
float: right;
width: 550px;
padding: 15px 0 29px 0;
}
#nav {
margin: 0;
padding: 0;
list-style: none;
font-size: 9pt;
ul{
margin: 0;
padding: 0;
list-style: none;
font-size: 9pt;
float: right;
	li.selected a{
	color:red;
	text-decoration: underline;
	}

	li {
	float: left;
	display: block;
	position: relative;
	z-index: 500;
	margin: 0px;
	li.selected a{
		color: red;
		text-decoration: underline;
	}
			ul.sublevel{
			position:absolute; left:0; top:23px; display:none; padding:0 0 2px 0; margin:0 0 0 -1px; background-color:#e8e8e8;
		
			li{float: left; display: inline; white-space:nowrap;
				
			a{ display:block; padding:5px 4px 4px 5px; text-align:left; color:#000000; text-decoration: none; }
			a:hover{ color: red;}
			}
		}
	
	}	
	a {
	color: black;
	display: block;
	padding: 4px 5px;
	text-align: center;
	font-weight: 400;
		.selected, .current {
		color: red;
		text-decoration: underline;
		}
	}
  }	
}


ul#topnav {
margin: 0;
padding: 0 5px 0 0;
float: right;
width: 808px;
list-style: none;
	
	li {
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
		a {
		color: black;
		font-size: 13px;
		font-weight: bold;
		padding: 15px 19px;
		float: left;
		}
	}
	li:hover a, ul#topnav li a:hover { color:#ff0000;  text-decoration: none;}
	.sub {background:url(/assets/arrow-menu.png) no-repeat 45px 0px; position: absolute; /*--Important--*/
		top:38px; left:0; z-index: 99999; padding:12px 0 0 0; margin:0;float:left; display:none; /*--Hidden for those with js turned off--*/
	
	  ul{border:5px solid #f10912; background:#ffffff; list-style:none; margin:0; padding:0; width:572px; float:left;
	  	li{ 
	 	  a{
			float: none;
			font-size:12px;
			line-height: 36px;
			text-align:center;
			text-indent: 0; /*--Override text-indent from parent list item--*/
			height: auto; /*--Override height from parent list item--*/
			width: 143px;
			padding:0px 0 0 0; margin:0px;
			display: block;	color:#656565; background:#e5e5e5;
			text-decoration: none;
			
		  &:hover {color:#fff; background:#f10912; text-decoration: none;}
		
		  }
		  img{padding-top:0px;}	
		}
	  }

	}
	
	
}
ul#topnav .ceiling .sub ul{width:286px;}
ul#topnav .general .sub { left:-44px; background:url(/assets/arrow-menu.png) no-repeat 107px 0px;}
ul#topnav .industrial .sub { left:-157px; background:url(/assets/arrow-menu.png) no-repeat 217px 0px;}

ul#topnav .ventilating .sub ul{width:286px;}
ul#topnav .ventilating .sub { left:-17px; background:url(/assets/arrow-menu.png) no-repeat 77px 0px;}
			
ul#topnav .current a{color:#ff0000;}

/*--home content--*/
   #content{ background:#eaeadc url( /assets/bg_slider_page.jpg) repeat-x top left;}
      #cwrapper{ width:960px; margin:0 auto; background:#ffffff;}
      #slider{height:596px; margin:0 auto;}
      /* Easy Slider */
      #slider ul{margin:0; padding:0; list-style:none;}
      #slider li{height:596px; width:960px;}
        #slider .s1{height:596px; background:url( /assets/slide1.jpg) no-repeat top center;}
        #slider .s2{height:596px; background:url( /assets/slide2.jpg) no-repeat top center;}
        #slider .s3{height:596px; background:url( /assets/slide3.jpg) no-repeat top center;}
        #slider .s4{height:596px; background:url( /assets/slide4.jpg) no-repeat top center;}

	#prevBtn, #nextBtn{position:absolute; top:140px; z-index:1000;}  
      #nextBtn{margin-left:884px;}
        
      #prevBtn a, #nextBtn a{display:block; width:76px; height:590px; background:url( /assets/btn_prev.png) no-repeat center;}  
      #nextBtn a{background:url( /assets/btn_next.png) no-repeat center; }
      #prevBtn a:hover{background:url( /assets/btn_prevOn.png) no-repeat center; }
      #nextBtn a:hover{background:url( /assets/btn_nextOn.png) no-repeat center; }

         .quicklink{ padding:20px 50px; margin-top:400px; position:absolute; z-index:100px;}
        a.btn-download, a.btn-download:link { display:block; width:254px; height:155px; background:url( /assets/b-download.png) no-repeat top left;}
        a.btn-download:hover, a.btn-download:active { background:url( /assets/b-downloadon.png) no-repeat top left;}
        
        a.btn-safety, a.btn-safety:link { display:block; width:254px; height:155px; background:url( /assets/b-safety.png) no-repeat top left;}
        a.btn-safety:hover, a.btn-safety:active { background:url( /assets/b-safetyon.png) no-repeat top left;}
        
        a.btn-map, a.btn-map:link { display:block; width:254px; height:155px; background:url( /assets/b-map.png) no-repeat top left;}
        a.btn-map:hover, a.btn-map:active { background:url( /assets/b-mapon.png) no-repeat top left;}
        
        a.btn-download, a.btn-safety, a.btn-map { float:left;}
        a.btn-download h1, a.btn-safety h1, a.btn-map h1{ padding:40px 20px 0 100px; font-size:18px; line-height:25px;}
        
        .rmargin{margin-right:45px;}
      
      .quicklink{ padding:20px 6px; margin-top:410px;}
        .box-link{float:left;}
          a.link1, a.link1:link { display:block; width:237px; height:154px; background:url( /assets/link1.png) no-repeat top center;}
          a.link1:hover, a.link1:active { background:url( /assets/link1-on.png) no-repeat top center;}
          
          a.link2, a.link2:link { display:block; width:237px; height:154px; background:url( /assets/link2.png) no-repeat top center;}
          a.link2:hover, a.link2:active { background:url( /assets/link2-on.png) no-repeat top center;}
          
          a.link3, a.link3:link { display:block; width:237px; height:154px; background:url( /assets/link3.png) no-repeat top center;}
          a.link3:hover, a.link3:active { background:url( /assets/link3-on.png) no-repeat top center;}
          
          a.link4, a.link4:link { display:block; width:237px; height:154px; background:url( /assets/link4.png) no-repeat top center;}
          a.link4:hover, a.link4:active { background:url( /assets/link4-on.png) no-repeat top center;}     


article, nav, header, footer, aside, hgroup, section {
display: block;
}
#header_content h1, #header_content #menu {
position: absolute;
bottom: 30px;
margin: 0px;
}

#header_content #menu {
right: 0px;
padding: 0px;
}

#header_content {
	position: relative;
	height: 132px;
}
/*
#page, #header_content, #footer_content {
width: 960px;
margin: 0px auto;
}
*/
